<?xml version="1.0"?>

<config>
    <modules>
        <Bpay_bhartipay>
            <version>0.1.0</version>
        </Bpay_bhartipay>
    </modules>
    
    
    
    <global>
        <models>
            <bhartipay>
                <class>Bpay_bhartipay_Model</class>
                <resourceModel>Bpay_bhartipay_mysql4</resourceModel>
            </bhartipay>
            <bhartipay_mysql4>
                <class>Bpay_bhartipay_Model_Mysql4</class>
                    <entities>
                        <bhartipay>
                            <table>bhartipay</table>
                        </bhartipay>
                    </entities>
            </bhartipay_mysql4>
        </models>
        
        
        
        
        
        <helpers>
          <bhartipay>
            <class>Bpay_bhartipay_Helper</class>
          </bhartipay>
        </helpers>
        
        
        <resources>
            <bhartipay_setup>
                <setup>
                    <module>Bpay_bhartipay</module>
                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bhartipay_setup>
            <bhartipay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bhartipay_write>
            <bhartipay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bhartipay_read>
        </resources>
        
        
        
        <blocks>
            <bhartipay><class>Bpay_bhartipay_Block</class></bhartipay>
        </blocks>
        
        
        
    </global>
    
    
    
    
    
    
    <frontend>
        <secure_url>
            <bhartipay_processing>/bhartipay/processing</bhartipay_processing>
        </secure_url>
        <routers>
            <bhartipay>
                <use>standard</use>
                <args>
                    <module>Bpay_bhartipay</module>
                    <frontName>bhartipay</frontName>
                </args>
            </bhartipay>
        </routers>
        <layout>
            <updates>
                <bhartipay>
                    <file>bhartipay.xml</file>
                </bhartipay>
            </updates>
        </layout>
    </frontend>
    
    
    
    
    
    <adminhtml>
        <translate>
            <modules>
                <bhartipay>
                    <files>
                        <default>Bpay_bhartipay.csv</default>
                    </files>
                </bhartipay>
            </modules>
        </translate>
    </adminhtml>
    
    
    
    <default>
        <payment>        
            <bhartipay_cc>
                <active>0</active>
                <model>bhartipay/cc</model>
                <order_status>1</order_status>
                <title>bhartipay PG</title>  
                <inst_id></inst_id>
                <inst_key></inst_key>
                <custom_callbackurl>0</custom_callbackurl>
                <callback_url></callback_url>
                <transaction_url></transaction_url>
                <transaction_status_url></transaction_status_url>
                <website></website>
                <industrytype></industrytype>
                <promo_code_status>0</promo_code_status>
                <promo_code_local_validation>0</promo_code_local_validation>
                <promo_codes></promo_codes>
            </bhartipay_cc>
        </payment>
    </default> 
</config>
